/* #5bd1d7, #348498, #004d61, #ff502f  */

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}

#app {
  width: 400px;
  height: 400px;
  background-color: #348498;
  display: flex;
  align-items: center;
  justify-content: center;
}
